extends layout

block my-page
    div.ui.masthead.vertical.segment
        div.ui.container
            h2.ui.dividing.header Profile
            #settings
                h4.ui.header Account Settings
                form(action="/update-profile-settings", method="post")#accountSettings.ui.form
                    input(type="hidden", name="id", value="#{user.id}")
                    div.seven.wide.field
                        label Name
                        input(type="text", name="name", placeholder="Name", value="#{user.name}")
                    div.seven.wide.field
                        label Surname
                        input(type="text", name="surname", placeholder="Name", value="#{user.surname}")
                    div.seven.wide.field
                        label E-mail
                        input(type="text", name="email", placeholder="E-mail", value="#{user.email}")
                    div#changeAccountSettings.ui.button Change
        div(style="margin-top: 20px;").ui.container
            h2.ui.dividing.header Target
            #targetPosition
                h4.ui.header Your Target Position
                form(action="/update-profile-target-position", method="post")#targetPositionForm.ui.form
                    div.seven.wide.field
                        label Category
                        select(name="category")#targetCategories.ui.dropdown
                            option(value="0") Not selected
                            each category in categories
                                option(value="#{category.id}") #{category.name}
                    div.seven.wide.field
                        label Level
                        select(name="level").ui.dropdown
                            each level in levels
                                option(value="#{level.id}") #{level.name}
                    div.seven.wide.field
                        label Position
                        select(name="position")#targetPositions.ui.dropdown
                    div#changeTargetPosition.ui.button Change
        div(style="margin-top: 20px;").ui.container
            h2.ui.dividing.header My Skills
            #skills
                h4.ui.header Your Target Position
                form(action="/add-skill", method="post")#skillsForm.ui.form
                    div.seven.wide.field
                        label New Skill
                        input(type="text", name="skill", placeholder="New skill")#newSkillName
                    div#addNewSkill.ui.button Add
                div#skillsList.ui.middle.aligned.divided.list
                    each skill in skills
                        div.item
                            div.right.floated.content
                                div.ui.button.remove-skill Remove
                            div(style="display:none;")#skillLevelID #{skill.levelID}
                            div.content
                                div.header #{skill.name}
                                | #{skill.level}